.icon-nav
{
  height: 8vh;
}
.icon-foot
{
  width: 20vw;
}

.orange
{
    background-color: orangered;
    color:white;
}
/* Scrollbars */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: orangered white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: orangered;
    border-radius: 20px;
    border: 3px solid white;
  }
  .flexcard
  {
    box-shadow: 0 1px 2px rgba(255, 69, 0, 0.15);
    overflow-y:auto;
    max-height:150px;
    margin-bottom: 20px;
  }
  .flexcard:hover{
    box-shadow: 0 5px 15px rgba(255,69,0,0.3);
    
   
  }