---
layout: base
title: Dept. of Physics
css : index.css
script : index.js
---
<div class="container-fluid mt-3">
<div class="row justify-content-md-center">
<div class="col-md-12 pt-2">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for item in site.data.index %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ item.id }}" {% if item.id == 0 %} class="active" aria-current="true" {% endif %}  aria-label="{{ item.title }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for item in site.data.index %}
        <div class="carousel-item {% if item.id == 0 %}active{% endif %}">
          <img src="/assets/images/{{ item.img }}" class="d-block w-100" alt="{{ item.title }}">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="background : black; opacity: 0.8;">{{ item.title }}</h5>
            <!-- <p>{{ item.text }}</p> -->
          </div>
        </div>
      {% endfor %}
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--Column-->
<div class="col-md-10 pt-3 pb-5">
  <center><h1 class="title-text" id="abtus">About Us</h1></center>
  <p id="abtus" class="lead">Ut esse anim aute sint. Do elit non enim laboris est nostrud ad eu sit mollit ea sint ex fugiat. Qui adipisicing ipsum id commodo qui do cupidatat adipisicing magna qui eu. Magna id eiusmod incididunt nostrud labore nostrud quis aliqua. </p>
  <figure class="text-center">
    <blockquote class="blockquote" id="abtus">
      <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="blockquote-footer" id="abtus">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
  <p id="abtus" class="lead">Ut esse anim aute sint. Do elit non enim laboris est nostrud ad eu sit mollit ea sint ex fugiat. Qui adipisicing ipsum id commodo qui do cupidatat adipisicing magna qui eu. Magna id eiusmod incididunt nostrud labore nostrud quis aliqua. </p>
</div><!--Column-->
</div><!--Row-->
</div><!--Container-->
  {% include news.html %}
  {% include research.html %}