---
layout: base
title: Dept. of Physics
css : index.css
script : index.js
---
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for item in site.data.index %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ item.id }}" {% if item.id == 0 %} class="active" aria-current="true" {% endif %}  aria-label="{{ item.title }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for item in site.data.index %}
        <div class="carousel-item {% if item.id == 0 %}active{% endif %}">
          <img src="/assets/images/{{ item.img }}" class="d-block w-100" alt="{{ item.title }}">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ item.title }}</h5>
            <p>{{ item.text }}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% include news.html %}