---
layout: base
title: Dept. of Physics
css : index.css
script : index.js
---
<div class="container-fluid mt-3">
<div class="row justify-content-md-center">
<div class="col-md-12 pt-2">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for item in site.data.index %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ item.id }}" {% if item.id == 0 %} class="active" aria-current="true" {% endif %}  aria-label="{{ item.title }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for item in site.data.index %}
        <div class="carousel-item {% if item.id == 0 %}active{% endif %}">
          <img src="/assets/images/{{ item.img }}" class="d-block w-100" alt="{{ item.title }}">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="background : black; opacity: 0.8;">{{ item.title }}</h5>
            <!-- <p>{{ item.text }}</p> -->
          </div>
        </div>
      {% endfor %}
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--Column-->
<div class="col-md-10 pt-3 pb-5">
  <center><h1 class="title-text" id="abtus">About Us</h1></center>
  <p id="abtus" class="lead">
    Welcome to the Department of Physics of IIT Hyderabad! 
    Our Department has 23 full time faculty members leading research groups
    which are making groundbreaking contributions
    (hyperlinked to awards, achievements of faculty and research scholars) in diverse areas.
    Our department hosts world class research programs in fields of 
    <a href="/research-areas/ac">Astrophysics and Cosmology, </a>
    <a href="/research-areas/ccmp">Computational Condensed Matter Physics, </a>
    <a href="/research-areas/ecmp">Experimental Condensed Matter Physics, </a>
    <a href="http://physics.iith.ac.in/HEP_Physics/index.html">High Energy Physics and Optics,</a>
    <a href="/research-areas/optics">Laser and Spectroscopy.</a>
  </p>
  <p id="abtus" class="lead">Our Department is strongly driven by our mission</p>
  <ul id="abtus">
    <li id="abtus" class="lead">
      to figure out how things work and how the universe is put together at all scales
    </li>
    <li id="abtus" class="lead">
      to solve technological problems & invent new technologies which benefit the society at large
    </li>
    <li id="abtus" class="lead">
      to deliver a world-class education based on rigorous technical training to our students and scholars
    </li>
  </ul>
  <p id="abtus" class="lead">Our Department is equipped with state of the art <a href="/gallery/">laboratories</a>, a 14-inch telescope and organizes highly topical <a href="/announcements">workshops and conferences</a>, and boasts of several international and multidisciplinary collaborations (hyperlinks). We also offer several degree programs for aspiring physicists and engineers </p>
    <ul>
      <li id="abtus" class="lead">Bachelors (BTech) in Engineering Physics</li>
      <li id="abtus" class="lead">Masters (MSc) in Physics</li>
      <li id="abtus" class="lead">Doctorate (PhD) in Physics</li>
    </ul>
    </p>
    <p id="abtus" class="lead">If you are an undergraduate student in science, technology, or engineering, aspiring to be an expert in solving real world problems which affect the local community, the nation and global community, consider<a href="http://gate.iith.ac.in/"> joining us</a></p>
</div><!--Column-->
</div><!--Row-->
</div><!--Container-->
  {% include news.html %}
  {% include research.html %}