---
layout: base
title: Photo Gallery
css : gallery.css
script : gallery.js 
---


<body>
    <div class="row">
        <div class="col-md-auto">
            
              <div class="sidebar">
                <ul class = "sidebarul">
                    
                    <!-- <li class="sidebarli"  onclick="change(1)" id="gal-1">gallery1</li>
                    <li class="sidebarli"  onclick="change(2)" id="gal-2">gallery2</li>
                    <li class="sidebarli"  onclick="change(3)" id="gal-3">gallery3</li> -->
                    {% for item in site.data.gallery %}
                    <li class="sidebarli"  onclick="change('{{item.id}}')" id="gal-{{item.id}}">{{item.title}}</li>
                    {% endfor %}
                </ul>
              </div>
            
        </div>
        {% for item in site.data.gallery %}
        
        <div class="col {% if item.id != 1%} d-none {% endif %}" id = "{{item.id}}">  
            {% assign temp_path = 'images/photogallery/'|append: item.title%}{% include photogrid.html path=temp_path title = item.title%} 
        </div>
        {% endfor %}

      </div>
      <script src="/assets/js/fslightbox.js"></script>
      {% for item in site.data.gallery %}

      <script>
        var itemtitle = '{{item.title}}'
        fsLightboxInstances[itemtitle].props.captions = ['<h2>Example caption</h2>'];;
      </script>
      {%endfor%}
</body>