---
layout: base
title: Photo Gallery
css : gallery.css
script : gallery.js 
---


<body>
  
    <div class="row">
        <div class="col-md-auto">
          <nav class="sidebar card py-2 mb-6">
            <ul class="nav flex-column" id="nav_accordion">
              <li class="nav-item">
                <h2 class="gallerymainheading" href="#">Gallery </h2>
              </li>
                  {% for eventcat in site.data.gallerymaincat %}
                    <li class="nav-item has-submenu">
                      <a class="nav-link galleydropdown" href="#"> {{eventcat.title}}  </a>
                      <ul class="submenu collapse">
                          {% for item in site.data.gallery %}
                            {% for stitle in eventcat.subevent%}
                                  {% if item.title == stitle%} 
                                  <li onclick="change('{{item.id}}')" id="gal-{{item.id}}"><a class="nav-link galleydropdown" href="#">{{item.title}}</a></li>
                                  {%endif%} 
                            {% endfor %}
                          {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
            </ul>
          </nav>
         
        </div>
        {% for item in site.data.gallery %}
        
        <div class="col {% if item.id != 1%} d-none {% endif %}" id = "{{item.id}}">  
            {% assign temp_path = 'images/photogallery/'|append: item.title%}{% include photogrid.html path=temp_path title = item.title%} 
        </div>
        {% endfor %}

      </div>
      <script src="/assets/js/fslightbox.js"></script>
      {% for item in site.data.gallery %}

      <script>
        var itemtitle = '{{item.title}}'
        fsLightboxInstances[itemtitle].props.captions = ['<h2>Example caption</h2>'];;
      </script>
      {%endfor%}
</body>