<footer class="py-5 bg-dark mt-5">
  <div class="container sticky-bottom">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col">
            <h5 class="text-light">Facilities & Campus Life</h5>
            <ul class="list-unstyled text-small">
              <li><a class="link-light" href="https://library.iith.ac.in/">Library</a></li>
              <li><a class="link-light" href="/gallery/index.html/">Department Day & Events</a></li>
              <li><a class="link-light" href="https://hostel.iith.ac.in/">Hostel Coordinating Unit</a></li>
              <li><a class="link-light" href="https://intranet.iith.ac.in/">Intranet IITH</a></li>
              <li><a class="link-light" href="https://iith.ac.in/Medical-Facilities/#clinic">Health Care at IITH</a>
              </li>
              <li><a class="link-light" href="https://gymkhana.iith.ac.in/">Students Gymkhana IITH</a></li>
              <li><a class="link-light"
                  href="https://www.iith.ac.in/academics/assets/files/pdf/Acad_FAQ_19-May-2021.pdf">FAQ's in Academic
                  Matter</a></li>
            </ul>
          </div>
          <div class="col">
            <h5 class="text-light text-start">Quick Links</h5>
            <ul class="list-unstyled text-small">
              <li><a class="link-light" href="/webteam/">Website Team</a></li>
              <li><a class="link-light" href="https://aims.iith.ac.in/aims/">AIMS</a></li>
              <li><a class="link-light" href="https://www.iith.ac.in">IIT Hyderabad Homepage</a></li>
              <li><a class="link-light" href="https://ocs.iith.ac.in/">Internships and Placements</a></li>
              <li><a class="link-light" href="https://www.iith.ac.in/academics/forms/">Forms and Downloads</a></li>
              <li><a class="link-light"
                  href="https://www.iith.ac.in/academics/assets/files/pdf/Charges-for-Issue-of-Various-Certificates.pdf">Certificate
                  Charges</a></li>
              <li><a class="link-light" href="https://iith.ac.in/news/2021/02/18/QIP-Application-Portal/">QIP
                  Admission Portal</a></li>
              <li><a class="link-light" href="http://gate.iith.ac.in/">Gate/JAM Office</a></li>
            </ul>
          </div>
        </div>
        <div class="row text-center" style="margin-top: 2%;">
          <div class="col">
            <img class="icon-foot mb-3" src="/assets/images/base/logo-img-footer.png" alt="Icon">
            <small class="d-block text-muted mx-2">&copy; Copyrights 2021</small>
            <small class="d-block text-muted mx-2">All Rights Reserved</small>
          </div>
          <div class="col faddress">
            <h5 class="text-light text-start">Address</h5>
            <div class="text-light text-start">
              <h6>Office of Physics Department,</h6>
              <h6>Room No. 320, Academic Block-B,</h6>
              <h6>Indian Institute of Technology Hyderabad,</h6>
              <h6>Kandi, Sangareddy - 502284,</h6>
              <h6>Phone: 040-2301 6700</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <div class="row">
          <div class="col">
            <div class="social-links">
              <h5 class="text-light">Stay Connected</h5>
              <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
              <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
              <a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a>

              <div class="text-light text-start">
                <h6>HOD Office: office@phy.iith.ac.in | Phone : 040-2301 6700</h6>
                <h6>HOD : head@phy.iith.ac.in | Phone : 040-2301 6026</h6>
                <h6>FAX : 040-2301 6032</h6>
              </div>

            </div>
            <hr>
            <iframe id="map" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCcmhThQGbtSHkCO97zQ0nQ_jLVTr_dHRU
              &q=Space+Needle,IIT Hyderabad" style="border-radius: 5px;">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <hr>
  <div class="row text-white text-center">
    <div class="col">
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
      </div>
    </div>
  </div> -->
</footer>