<footer class="py-5 bg-dark">
    <div class="container sticky-bottom">
    <div class="row row-cols-2">
      <div class="col">
        <div class="row">
          <div class="col-3">
            <h5 class="text-light">Links</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Alpha</a></li>
            <li><a class="link-secondary" href="#">Beta</a></li>
            <li><a class="link-secondary" href="#">Gamma</a></li>
            <li><a class="link-secondary" href="#">Delta</a></li>
            </ul>
          </div>
          <div class="col-3">
            <h5 class="text-light">Links</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Alpha</a></li>
            <li><a class="link-secondary" href="#">Beta</a></li>
            <li><a class="link-secondary" href="#">Gamma</a></li>
            <li><a class="link-secondary" href="#">Delta</a></li>
            </ul>
          </div>
          <div class="col-3">
            <h5 class="text-light">Links</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Alpha</a></li>
            <li><a class="link-secondary" href="#">Beta</a></li>
            <li><a class="link-secondary" href="#">Gamma</a></li>
            <li><a class="link-secondary" href="#">Delta</a></li>
            </ul>
          </div>
          <div class="col-3">
            <h5 class="text-light">Links</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Alpha</a></li>
            <li><a class="link-secondary" href="#">Beta</a></li>
            <li><a class="link-secondary" href="#">Gamma</a></li>
            <li><a class="link-secondary" href="#">Delta</a></li>
            </ul>
          </div>
          <div class="col-6">
            <p class="text-light">Please reach out to us at Random Address Random number</p>
            <img class = "icon-foot" src="/assets/images/logo-img.png" alt ="Icon">
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
          </div>
        </div> 
      </div><!--col outer-->
      <div class="col">
        <iframe
  id="map"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCcmhThQGbtSHkCO97zQ0nQ_jLVTr_dHRU
    &q=Space+Needle,IIT Hyderabad">
</iframe>
      </div>
    </div>
    </div>
  </footer>