<footer class="py-5 bg-dark">
    <div class="container sticky-bottom">
    <div class="row">
      <div class="col-4 col-md">
        <h5 class="text-light">Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://firebase.google.com/">Firebase</a></li>
          <li><a class="link-secondary" href="https://palletsprojects.com/p/flask/">Flask</a></li>
          <li><a class="link-secondary" href="https://getbootstrap.com/">Bootstrap</a></li>
          <li><a class="link-secondary" href="https://www.nltk.org/">NLTK</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5 class="text-light">About Me</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://github.com/dkarmy12">GitHub</a></li>
          <li><a class="link-secondary" href="https://www.linkedin.com/in/divyansh-kharbanda-216473199/">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <img class = "icon-foot" src="/assets/images/logo-img.png" alt ="Icon">
        <small class="d-block mb-3 text-muted">&copy; 2021</small>
        <p>This is just a personal project. Please do not enter any sensitive information during the course of its use. The creator takes no responsibility of absolute security of the same.</p>
      </div>
    </div>
    </div>
  </footer>