<div class = "container-fluid mt-2 pt-2">
    <div class = "row row-cols-md-1 row-cols-lg-2">
        <div class="col-lg-5">
            {% for item in site.data.research %}
              <img src = "/assets/images/{{ item.img }}" id = "news-img-{{item.id}}" class="news-img {% if item.id != 0 %} d-none {% endif %}" title="{{ item.title }}">
            {% endfor %}
        </div>
        <div class = "col-lg-7">
            <center><p class="title-text">Research</p></center>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for item in site.data.research %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flushhead-{{ item.id }}">
                      <button class="accordion-button collapsed" type="button" onclick = "logger('{{ item.id }}')" data-bs-toggle="collapse" data-bs-target="#flush-{{ item.id }}" aria-expanded="false" aria-controls="flush-{{ item.id }}" name="flush-{{ item.id }}">
                        {{ item.title }}
                      </button>
                    </h2>
                    <div id="flush-{{ item.id }}" class="accordion-collapse collapse" aria-labelledby="flushhead-{{ item.id }}" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <p>{{ item.text }}</p>
                        <a href = "{{item.link}}" style="text-decoration: none;">Visit</a></div>
                    </div>
                  </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>