<header class="p-3 bg-white text-dark main-tool-bar sticky-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
         <img src = "/assets/images/Logo.png" class="icon-nav">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-dark">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
        </ul>
        <!-- <div class="text-end">
          <button type="button" class="btn btn-outline-secondary me-2">Login</button>
          <button type="button" class="btn btn-danger orange">Sign-up</button>
        </div> -->
      </div>
    </div>
  </header>