:root
{
  --darkgrey : #333a44;
  --apricot : #f7882f;
  --citrus : #f7c331;
  --applecore : #ffffff;
  --white : #ffffff;
}
body{
  background-color:var(--applecore);
}
html {
  scroll-behavior: smooth;
}
.card
{
  border-radius: 0;
}
.icon-nav
{
  height: 8vh;
}
.icon-foot
{
  width: 20vw;
}
.main-tool-bar
{
  background-color: var(--apricot);
  color:var(--white);
}
.orange
{
    background-color: var(--apricot);
    color:var(--white);
}
#map
{
    height:40vh;
}
.title-text
{
    border-bottom: min(0.5vh, 0.5vw) solid var(--apricot);
    text-decoration: none;
    font-size: xx-large;
    font-weight: 400;
    color: var(--var(--apricot));
}
/* Scrollbars */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--citrus) var(--white);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--white);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--citrus);
    border-radius: 20px;
    border: 3px solid var(--white);
  }