body{
  background-color:white;
}
.icon-nav
{
  height: 8vh;
}
.icon-foot
{
  width: 20vw;
}
.main-tool-bar
{
  background-color: #fd7e14;
  color:white;
}
.orange
{
    background-color: #fd7e14;
    color:white;
}
/* Scrollbars */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #adb5bd white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 20px;
    border: 3px solid white;
  }