:root
{
  --darkgrey : #1a3947;/* #333a44*/
  --grey : #566575;
  --lightgrey : #797983;
  --apricot : #f5751d;
  --citrus : #fca26e;
  --applecore : #ffffff;
  --white : #ffffff;
}
body{
  background-color:var(--applecore);
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.card
{
  border-radius: 0;
}
.icon-nav
{
  height: 8vh;
}
.icon-foot
{
  width: 20vw;
}
.main-tool-bar
{
  background-color: var(--apricot);
  color:var(--white);
}
.orange
{
    background-color: var(--apricot);
    color:var(--white);
}
#map
{
    height:40vh;
    width:100%;
}
.title-text
{
    border-bottom: min(0.5vh, 0.5vw) solid var(--apricot);
    text-decoration: none;
    font-size: xx-large;
    font-weight: 400;
    color: var(--darkgrey);
}
.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: var(--apricot);
  color : white;
}
.dropdown-menu > li > a:focus {
  background-image: none;
  background-color: var(--citrus);
  color : white;
}
/* Scrollbars */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--citrus) var(--white);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--white);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--citrus);
    border-radius: 20px;
    border: 3px solid var(--white);
  }