@import url('/assets/css/index.css');

.tab, .tab:hover
{
    color : var(--apricot);
    background-color: white;
    background-image: none;
}

.active
{
    color : white !important;
    background-color: var(--apricot) !important;
    background-image: none !important;
}

.fitter
{
    max-height : 60vh !important;
}

.image_wrap img
{
    width:100%;
    transition: 250ms ease;
    cursor: pointer;
}
.image_wrap img:hover
{
    transform: scale(1.05);
}


/* changed =================================*/
.sLandingPage {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url(https://wallpaperaccess.com/full/2245139.jpg);
	background-size: cover;
	background-position: center;
}
.sLandingPage h1{
	color: #fff;
	font-size: 100px;
}
.sLandingPage p{
	padding: 10px;
	color: #fff;
	font-size: 20px;
}
.sLandingPage .sbuttons{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.sbuttons a{
	width: 25%;
	color: #000;
	font-size: 20px;
	padding: 0.6rem;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}