


.container .mycard{
  /* trying neumorphism========= */
  /* border-radius: 50px;
  background: #ffb52e;
  box-shadow: 25px 25px 49px #d99a27,
  -25px -25px 49px #ffd035; */

  border-radius: 10px;
  background: linear-gradient(to bottom, #f5751d, #fca26e);
  box-shadow: 1px 1px  #d06319,
              -1px -1px  #ff8721;

  position: relative;
  width: 300px;
  height: 250px;
  /* border-radius: 10px; */
  /* background: #FFB52E; */
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in-out;
}

.container .mycard:hover{
  height: 350px; /* increase this height if u want to add social media icons*/
  /* box-shadow: 0px 4px 8px 4px rgba(245, 133, 6, 0.5); */
  box-shadow: 2px 2px 5px #d99a27,
              -2px -2px 5px #ffd035;
}

.container .mycard .cimg{
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px; /* 260px & make image height 260px*/
  width: 270px;
  top: -60px;
}

.container .mycard .cimg img{
  max-width: 100%;
  box-shadow: 0px 3px 20px rgba(245, 133, 6, 0.5);
  border-radius: 10px;
  /* border-radius: 50px; */
}

.container .mycard .cdetails{
  color: #fff;
  margin-top: 1.2rem;
  text-align: center;
  position: relative;
  margin-top: -160px; /* it was -160px */
  padding: 10px 15px;
  font-family: monospace;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.container .mycard .cdetails .social-icons a{
  font-size: large;
  padding: 10px 12px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(255,255,255,0.2);
}

.container .mycard:hover .cdetails{
  visibility: visible;
  opacity: 1;
  margin-top: -50px;
}

